@import 'mixins', 'variables';
$font:	Noto_Sans, Noto_Sans, 400, normal;
$font:	Noto_Sans, Noto_Sans_Bold, 700, normal;
$font:	Noto_Sans, Noto_Sans_Bold_Italic, 700, italic;
$font:	Noto_Sans, Noto_Sans_Italic, 400, italic;
$font:	Noto_Sans, noto-sans-display-semibold, 600, normal;
$font:	Noto_Sans, noto-sans-display-medium, 500, normal;