.header {
	background-color: black;

		&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 106px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__link {
		color:white;
		text-decoration: none;
		font-size: 15px;
		font-family: "Noto_Sans", sans-serif;
		font-weight: 400;
		margin-right: 50px;
	}

	&__arrow {
		margin-left: 15px;
		display: inline-block;
	}

	@media screen and (min-width: 325px) and (max-width: 500px) {
		&__link {
			display: none;
		}
	}
}