.team {
	background-color: #5036E6;
	margin: 0;
	padding: 0;
	&__image {
		width: 320px;
		height: 320px;
	}
	&__gallery {
		margin: 0 auto;
		text-align: center;
		width: 85%;
		display: flex;
	}

	&__figure-image {
		display: inline-block;
		position: relative;
		height: 320px;
		width: 320px;
	}

	&__figcaption {
		color: white;
		padding: .2em 0;
		top: 150px;
		text-align: left;
		width: 100%;
		display: block;
	}
&__wanted {
	background-color: #5036E6;
	margin: 0 auto;
	padding-top: 175px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, 1fr);
&__title {
	display: block;
}
	&__text {
	display: grid;
	margin-top: 65px;
	margin-right: 160px;
}
	&__image {
		display: grid;
		margin-top: 60px;
		margin-bottom: 60px;
	}
}
	&__card {
		margin-bottom: 20px;
	}
	&__gallery_wrap {
		max-width: 1280px;
		min-width: 320px;
		margin: 0 auto;
		padding: 40px 15px 0; 	
	}
}